/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define MULT KP_MULTIPLY
#define BTC BT_CLR
#define BT1 BT_SEL 0
#define BT2 BT_SEL 1
#define BT3 BT_SEL 2
#define BT4 BT_SEL 3
#define BT5 BT_SEL 4
#define VOUP C_VOLUME_UP
#define VODN C_VOLUME_DOWN

/ {
        macros {
        mptr: mptr {
            label = "ZM_ptr";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp MINUS &kp GREATER_THAN>
                ;
            };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// [ COMM ]  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  | ;:  | '"   |
// [ SHFT ]  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   | ,<  | .>  | /?  | |\   |
//                    [ CTR ] RSE | ENT |   | SPC | LWR  [ OPT ]
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y  &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H  &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH &kp PIPE
                    &kp LGUI &kp RET &mo 2   &mo 1 &kp SPACE &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// | CAPS |     |     |     |     |     |   | `~  |  7  |  8  |  9  | -_ | =+ |
// [ COMM ]     |     |     |     |     |   | ->  |  4  |  5  |  6  | [{ | ]} |
// [ SHFT ]     |     |     |     |     |   |  0  |  1  |  2  |  3  |  ( |  ) |
//                    [ CTR ] ENT |     |   |     |     | OPT |
                        bindings = <
   &kp CAPS  &trans  &trans  &trans  &trans  &trans     &kp GRAVE  &kp N7  &kp N8  &kp N9  &kp MINUS  &kp EQUAL
   &trans    &trans  &trans  &trans  &trans  &trans     &mptr      &kp N4  &kp N5  &kp N6  &kp LBKT   &kp RBKT
   &trans    &trans  &trans  &trans  &trans  &trans     &kp N0     &kp N1  &kp N2  &kp N3  &kp LPAR   &kp RPAR
                             &trans  &trans  &trans     &trans     &trans  &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC | BT1 | VOL+|     |     |<alt>|   |     |     |     |     |  UP | DEL |
// [ COMM ] BT2 | VOL-|     |     |<def>|   |     |     |     |     | LFT | RGT |
// [ SHFT ] BT3 | BTC |     |     |     |   |     |     |     |     | DWN |     |
//                    [ CTR ] ENT |     |   |     |     [ OPT ]
                        bindings = <
   &kp ESC  &bt BT1  &kp VOUP  &trans  &trans  &tog 3     &trans  &trans  &trans  &trans &kp UP    &kp DEL
   &trans   &bt BT2  &kp VODN  &trans  &trans  &tog 0     &trans  &trans  &trans  &trans &kp LEFT  &kp RIGHT
   &trans   &bt BT3  &bt BTC   &trans  &trans  &trans     &trans  &trans  &trans  &trans &kp DOWN  &trans
                    	       &trans  &trans  &trans     &trans  &trans  &trans
                        >;
                };

                alternate_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// [ COMM ]  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  | ;:  | '"   |
// [ SHFT ]  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   | ,<  | .>  | /?  | |\   |
//                    [ CTR ] ENT | RSE |   | LWR | SPC  [ OPT ]
                        bindings = <
   &trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans  &trans
   &trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans  &trans
   &trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans  &trans
                           &trans  &mo 2  &kp RET     &kp SPACE  &mo 1  &trans
                        >;
                };
        };
};
